* {
    margin: 0;
    padding: 0;
}
@mixin box-sizing() {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin flex($flow: row wrap, $justify: flex-start, $align-items: flex-start, $align-content: inherit){
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align-items;
    align-content: $align-content;
}

#main {
    position: absolute;
    width: 100%;
    height: 800px;
    background: #222222;

    header { 
        width: 100%;
        height: 10em;
        background: #323232;
    }

    .container-flex {
        @include box-sizing();
        @include flex($flow: column nowrap, $justify: space-between, $align-items: center);
        width: 100%;
        height: 12em;
        padding: 1.5em;
        color: #fff;

    
    }



}