* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
  overflow: hidden;
}

#main {
  width: 100%;
  background: #222222;
}

header {
  position: relative;
  width: 100%;
  height: 11em;
  background: #323232;
}
header .header-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: inherit;
  height: 100%;
  padding: 25px;
}
header .header-nav .header-nav-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: inherit;
}
header .header-nav .header-nav-inner {
  width: 33.3%;
  flex: 1 1 auto;
}
header .header-nav .header-nav-inner:last-child {
  display: none;
}
header .header-nav .header-nav-inner .header-menu-inner {
  margin: -0.618em -0.618em;
}
header .header-nav .header-nav-inner .header-menu-inner .header-menu-item {
  margin: 0 0.618em;
  padding: 0.618em 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffffe6;
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}
header .header-nav .header-nav-inner .header-menu-inner .header-menu-item:hover {
  color: rgba(249, 216, 1, 0.7);
}
header .header-nav .header-nav-inner .header-menu-inner .menu-item-active {
  color: rgba(249, 216, 1, 0.7);
}
header .header-nav .header-nav-inner .hamb-menu-icon {
  display: flex;
  height: 25px;
  cursor: pointer;
}
header .header-nav .header-nav-inner .hamb-menu-icon svg {
  margin: auto;
}
header .header-nav a .header-branding-logo {
  max-width: 420px;
  width: 100%;
  vertical-align: middle;
}
header .menu-active {
  visibility: visible !important;
  transform: translateX(0) !important;
}
header .icon-active {
  stroke-width: 2 !important;
}
header .header-side-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 360px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: #3d3d3d;
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
}
header .header-side-nav .header-side-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: inherit;
  min-width: 300px;
  width: 375px;
  padding: 25px;
  flex: 1 0 0%;
}
header .header-side-nav .header-side-menu .header-menu-item {
  margin: 20px 25px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 34px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.045em;
}
header .header-side-nav .header-side-menu .header-menu-item:hover {
  color: rgba(249, 216, 1, 0.7);
}
header .header-side-nav .header-side-button {
  width: 60px;
  height: 60px;
  display: flex;
}
header .header-side-nav .header-side-button svg {
  margin: auto;
  cursor: pointer;
}
header .header-side-nav .header-side-button svg .close-icon {
  stroke-width: 0;
  stroke: #fff;
  transition: stroke-width 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.5s;
}

.container-flex {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: inherit;
  width: 100%;
  height: 12em;
  padding: 1.5em;
  color: rgba(244, 236, 236, 0.8);
}
.container-flex h3 {
  font-family: "Barlow Condensed", sans-serif;
}
.container-flex p {
  font-size: 12px;
}

.gallery-wrapper {
  position: relative;
  width: 100%;
  height: 750px;
  transition: all 0.5s ease-in-out;
}
.gallery-wrapper .index-gallery-left-first {
  width: 66.66%;
  height: 40em;
  float: left;
}
.gallery-wrapper .index-gallery-right-first {
  width: 66.66%;
  height: 40em;
  float: right;
}
.gallery-wrapper .index-gallery-left {
  width: 33.34%;
  height: 20em;
  float: left;
}
.gallery-wrapper .index-gallery-right {
  width: 33.34%;
  height: 20em;
  float: right;
}

.see-more {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 15em;
  padding: 10px;
  background: #0e0c0c;
}

.welcome-gif {
  position: relative;
  height: 30em;
}
.welcome-gif .background-gif {
  position: relative;
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5746048bd210b892223e44a4/1464630395739-VNLW59NUIYRE6SW0QKTP/ezgif.com-gif-maker+%284%29.gif?format=1500w");
  background-attachment: fixed;
  background-size: cover;
}

.our-story {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
}
.our-story .story-context {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: inherit;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.our-story .story-context hr {
  width: 20%;
}
.our-story .story-context h2 {
  font-family: "Barlow Condensed", sans-serif;
  margin: 10px 0;
  color: rgba(244, 236, 236, 0.8);
}

.welcome-quote {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5746048bd210b892223e44a4/1488431543080-DO9LY56CCW26V08P9KX2/bg+site.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.welcome-quote .nav-index {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 180px 50px;
}
.welcome-quote .nav-index .nav-index-text {
  padding: 0 20px;
}
.welcome-quote .nav-index .nav-index-text p {
  margin: 20px 0;
  font-family: "Barlow condensed", sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  color: rgba(255, 255, 255, 0.8);
}
.welcome-quote .nav-index .eng-ver {
  margin-top: 80px;
}
.welcome-quote .nav-index .eng-ver p {
  font-family: "Barlow condensed", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.08em;
}

.new-page {
  width: 100%;
  background: #0e0c0c;
}
.new-page .np-index {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px 15px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.08em;
  color: rgba(119, 110, 110, 0.8);
}

footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #121212;
}
footer .footer-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .footer-container .footer-index {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: inherit;
  width: 100%;
  flex: 1 1 0%;
  padding: 0 35px;
}
footer .footer-container .footer-index .title-index-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  flex: 1 75%;
  padding: 0 20px 20px 20px;
}
footer .footer-container .footer-index .title-index-footer h3 {
  margin: 35px 0;
  font-size: 14px;
  color: #faebeb;
}
footer .footer-container .footer-index .footer-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: inherit;
  width: 85.333%;
}
footer .footer-container .footer-index .footer-gallery .footer-gallery-index {
  min-width: 250px;
  width: 50%;
  height: 13.5em;
  flex: 1 28%;
  margin: 0 10px 20px;
  background: #323232;
}

.mt-8 {
  margin-top: 80px;
}

.mt-5 {
  margin-top: 50px;
}

.gap-line-m {
  width: 100%;
  height: 8em;
}

.text-core {
  font-size: 18px;
  line-height: 2.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15em;
}

.col-element {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: inherit;
  width: 45%;
  margin: 50px 0;
  padding: 0 15px;
}

.btn-primary {
  min-width: 95px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #faebeb;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #faebeb;
  transition: 0.1s background-color linear, 0.1s color linear;
}
.btn-primary:hover {
  background: #faebeb;
  color: #0e0c0c;
}

.nc-effect-opacity {
  opacity: 1;
  transition: opacity 0.2s ease-in-out, background-color 0.85s ease-in-out;
}
.nc-effect-opacity:hover {
  opacity: 0.95;
}

@media screen and (max-width: 640px) {
  header {
    height: 4em;
  }
  header .header-nav {
    justify-content: space-between;
    padding: 8px 15px;
  }
  header .header-nav .header-nav-inner:nth-child(odd) {
    display: none;
  }
  header .header-nav .header-nav-inner:nth-child(even) {
    display: flex;
  }
  header .header-nav .header-nav-inner:last-child {
    justify-content: flex-end;
    align-items: center;
  }
  header .header-nav .header-nav-inner a .header-branding-logo {
    min-width: 125px;
    width: 20%;
  }

  .gallery-wrapper {
    position: relative;
    width: 100%;
  }
  .gallery-wrapper .index-gallery-left-first {
    width: 100%;
    height: 23em;
  }
  .gallery-wrapper .index-gallery-right-first {
    width: 100%;
    height: 23em;
  }
  .gallery-wrapper .index-gallery-left {
    width: 100%;
    height: 23em;
  }
  .gallery-wrapper .index-gallery-right {
    width: 100%;
    height: 23em;
  }
}

/*# sourceMappingURL=style.css.map */
