* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-style: normal;
}

#main {
  width: 100%;
  background: #222222;
}

header {
  width: 100%;
  height: 11em;
  background: #323232;
}
header .header-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: inherit;
  height: 100%;
  padding: 25px;
}
header .header-nav .header-nav-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: inherit;
}
header .header-nav .header-nav-inner {
  width: 33.3%;
  flex: 1 1 auto;
}
header .header-nav .header-nav-inner .header-menu-inner {
  margin: -0.618em -0.618em;
}
header .header-nav .header-nav-inner .header-menu-inner .header-menu-item {
  margin: 0 0.618em;
  padding: 0.618em 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffffe6;
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}
header .header-nav .header-nav-inner .header-menu-inner .header-menu-item:hover {
  color: rgba(249, 216, 1, 0.7);
}
header .header-nav .header-nav-inner .header-menu-inner .menu-item-active {
  color: rgba(249, 216, 1, 0.7);
}
header .header-nav a .header-branding-logo {
  max-width: 420px;
  width: 100%;
}

.container-flex {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: inherit;
  width: 100%;
  height: 12em;
  padding: 1.5em;
  color: rgba(244, 236, 236, 0.8);
}
.container-flex h3 {
  font-family: "Barlow Condensed", sans-serif;
}
.container-flex p {
  font-size: 12px;
}

.gallery-wrapper {
  position: relative;
  width: 100%;
  height: 750px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.gallery-wrapper .index-gallery-left-first {
  width: 66.66%;
  height: 40em;
  float: left;
}
.gallery-wrapper .index-gallery-right-first {
  width: 66.66%;
  height: 40em;
  float: right;
}
.gallery-wrapper .index-gallery-left {
  width: 33.34%;
  height: 20em;
  float: left;
}
.gallery-wrapper .index-gallery-right {
  width: 33.34%;
  height: 20em;
  float: right;
}

.see-more {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 15em;
  padding: 10px;
  background: #0e0c0c;
}

.welcome-gif {
  position: relative;
  height: 30em;
}
.welcome-gif .background-gif {
  position: relative;
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5746048bd210b892223e44a4/1464630395739-VNLW59NUIYRE6SW0QKTP/ezgif.com-gif-maker+%284%29.gif?format=1500w");
  background-attachment: fixed;
  background-size: cover;
}

.our-story {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
}
.our-story .story-context {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: inherit;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.our-story .story-context hr {
  width: 20%;
}
.our-story .story-context h2 {
  font-family: "Barlow Condensed", sans-serif;
  margin: 10px 0;
  color: rgba(244, 236, 236, 0.8);
}

footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 150px 30px;
  background-color: #121212;
}
footer .index-gallery-container {
  width: 100%;
  padding: 20px 100px;
}
footer .index-gallery-container .index-gallery-content {
  width: 33.3%;
  height: 8.5em;
  float: left;
}

.mt-8 {
  margin-top: 80px;
}

.mt-5 {
  margin-top: 50;
}

.text-core {
  font-size: 18px;
  line-height: 2.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15em;
}

.col-element {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: inherit;
  width: 45%;
  margin: 50px 0;
  padding: 0 15px;
}

.btn-primary {
  min-width: 95px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #faebeb;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #faebeb;
  transition: 0.1s background-color linear, 0.1s color linear;
}
.btn-primary:hover {
  background: #faebeb;
  color: #0e0c0c;
}

.nc-effect-opacity {
  opacity: 1;
  transition: opacity 0.2s ease-in-out, background-color 0.85s ease-in-out;
}
.nc-effect-opacity:hover {
  opacity: 0.95;
}

@media screen and (max-width: 640px) {
  .gallery-wrapper {
    position: relative;
    width: 100%;
  }
  .gallery-wrapper .index-gallery-left-first {
    width: 100%;
    height: 23em;
  }
  .gallery-wrapper .index-gallery-right-first {
    width: 100%;
    height: 23em;
  }
  .gallery-wrapper .index-gallery-left {
    width: 100%;
    height: 23em;
  }
  .gallery-wrapper .index-gallery-right {
    width: 100%;
    height: 23em;
  }
}

/*# sourceMappingURL=style.css.map */
