* {
    margin: 0;
    padding: 0;
}
@mixin box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin flex($flow: row wrap, $justify: flex-start, $align-items: flex-start, $align-content: inherit){
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align-items;
    align-content: $align-content;
}
@mixin fit($width: 100%, $height: 100%){
    width: $width;
    height: $height;
}
@mixin item-gallery-1() {
    width: 66.66%;
    height: 40em;
}
@mixin item-gallery-2() {
    width: 33.34%;
    height: 20em;
}


html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-style: normal;
    
}

#main {
    // position: absolute;
    width: 100%;
    background: #222222;
}

header { 
    width: 100%;
    height: 11em;
    background: #323232;

    .header-nav {
        @include box-sizing();
        @include flex($flow: row nowrap, $justify: center, $align-items: center);
        // width: 100%;
        height: 100%;
        padding: 25px;
        

       
        .header-nav-right {
            @include flex($justify: flex-end, $align-items: center);
        }
        .header-nav-inner {
            width: 33.3%;
            flex: 1 1 auto;
            // height: 5em;

            .header-menu-inner {
                margin: -.618em -.618em;

                .header-menu-item {
                    margin: 0 .618em;
                    padding: .618em 0;
                    
                    font-family: 'Barlow Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 13px;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: .2em;
                    color: #ffffffe6;
                    transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
                    &:hover {
                        color: rgba(249,216,1,.7);
                    }
                }
                .menu-item-active { 
                    color: rgba(249,216,1,.7);
                }
            }
        }
            a {
                .header-branding-logo {
                    max-width: 420px;
                    width: 100%;
                }
            }
        }
    }


.container-flex {
    @include box-sizing();
    @include flex($flow: column nowrap, $justify: space-between, $align-items: center);
    width: 100%;
    height: 12em;
    padding: 1.5em;
    color: rgba(244,236,236,.8);
    
    h3 {
        font-family: 'Barlow Condensed', sans-serif;
    }
    p {
        font-size: 12px;
    }
}

.gallery-wrapper {
    position: relative;
    width: 100%;
    height: 750px;
    transition: all 0.5s ease-in-out;

    .index-gallery-left-first {
        @include item-gallery-1();
        float: left;
    }

    .index-gallery-right-first {
        @include item-gallery-1();
        float: right;
    }

    .index-gallery-left {
        @include item-gallery-2();
        float: left;
    }

    .index-gallery-right {
        @include item-gallery-2();
        float: right;
    }
}

.see-more {
    @include flex($justify: center, $align-content: center);
    @include box-sizing();
    
    height: 15em;
    padding: 10px;
    background: #0e0c0c;
}

.welcome-gif {
    
    position: relative;
    height: 30em;

    .background-gif {
        // @include fit();
        position: relative;
        padding-top: 240px;
        padding-bottom: 240px;
        background-image: url('https://images.squarespace-cdn.com/content/v1/5746048bd210b892223e44a4/1464630395739-VNLW59NUIYRE6SW0QKTP/ezgif.com-gif-maker+%284%29.gif?format=1500w');
        background-attachment: fixed;
        background-size: cover;
    }

}

.our-story {
    @include box-sizing();
    padding: 25px;
    
    
    .story-context {
        @include flex($flow: column nowrap, $justify: center, $align-items: center);
        width: 83%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;

        hr {
            width: 20%;
        }
        h2 {
            font-family: 'Barlow Condensed', sans-serif;
            margin: 10px 0;
            color: rgba(244,236,236,.8);
        }
    }
}
.welcome-quote {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5746048bd210b892223e44a4/1488431543080-DO9LY56CCW26V08P9KX2/bg+site.jpg');
    background-attachment: fixed;
    background-size: cover;


    .nav-index {
        @include box-sizing();
        padding: 150px 50px;


        .nav-index-text {
            padding: 0 20px;

            p {
                margin: 10px 0;
                font-size: 13px;
                text-align: center;
                color: rgba(255,255,255,.8);
            }
        }
    }
}


footer {
    @include box-sizing();
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #121212;

    .footer-container {
        margin-top: 20px;
        margin-bottom: 20px;

        .footer-index {
            @include box-sizing();
            @include flex($flow: column wrap, $justify: center, $align-items: center);
            width: 100%;
            flex: 1 1 0%;
            padding: 0 25px;

            .title-index-footer {
                @include box-sizing();
                width: 80%;
                flex: 1 75%;
                padding: 0 20px 20px 20px;

                h3 {
                    font-size: 14px;
                    color: #faebeb;

                }
            }

            .footer-gallery {
                @include flex($flow: row wrap, $justify: space-between);
                width:83.333%;
                

                .footer-gallery-index {
                    width: 50%;
                    height: 12.5em;
                    flex: 1 25%;
                    margin: 0 10px 20px;
                    background: #323232;
                    
                }
            }
        }
    }
    
}




.mt-8 {
    margin-top: 80px;
}
.mt-5{
    margin-top: 50px;
}
.gap-line-m {
    width: 100%;
    height: 10em;
}
.text-core {
    font-size: 18px;
    line-height: 2.50em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .15em;
}

.col-element{
    @include flex($flow: row nowrap, $justify: space-evenly, $align-items: center);
    width: 45%;
    margin: 50px 0;
    padding: 0 15px;
    
}

.btn-primary {
    min-width: 95px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #faebeb;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #faebeb;
    transition: 0.1s background-color linear, 0.1s color linear;

    &:hover {
        background: #faebeb;
        color: #0e0c0c;
    }
}

.nc-effect-opacity{
    opacity: 1;
    transition: opacity .2s ease-in-out, background-color 0.85s ease-in-out;

    &:hover{
        opacity: .95;
    }
}
@media screen and (max-width: 640px) {
    .gallery-wrapper {
        position: relative;
        width: 100%;
    
        .index-gallery-left-first {
            width: 100%;
            height: 23em;
        }
    
        .index-gallery-right-first {
            width: 100%;
            height: 23em;
        }
    
        .index-gallery-left {
           width: 100%;
           height: 23em;
        }
    
        .index-gallery-right {
            width: 100%;
            height: 23em;
        }
    }
}

